<div class="home__container">
    <app-card gameCover="assets/bt-1.jpg"
    gameLabel="Digital" gameType="Digital PS4" gamePrice="R$ 125,00">
    </app-card>
    <app-card gameCover="assets/bt-4.jpg"
    gameLabel="Exclusivo" gameType="Mídia XBOX" gamePrice="R$ 189,90,00">
    </app-card>
    <app-card gameCover="assets/bt-5.jpg"
    gameLabel="PROMOÇÃO"gameType="Digital PS4" gamePrice="R$ 85,00">
    </app-card>
    <app-card gameCover="assets/bt-hardline.jpg"
    gameLabel="NEW"gameType="Digital PS4" gamePrice="R$ 285,00">
    </app-card>
</div>
