<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img
        src="assets/ps-logo.png"
        alt="PlayStation Logo"
        srcset=""
        width="140px"
        height="50PX"
        >
    </div>
    <div class="menu-bar__item">
        <ul>
            <li><a href="https://yanjsantos.github.io/portifolio.github.io/">Portfolio</a></li>
            <li><a href="https://www.linkedin.com/in/anderson-santos-29786638/">Linkedin</a></li>
            <li><a href="https://github.com/YanjSantos">GitHub</a></li>
        </ul>
    </div>
</div>
